/*========== layout ==========*/

body {
  background-color: rgb(208, 252, 255);
  background-image: url("");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

nav {
  padding-top: 5px;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  background-position: top;
  background-attachment: fixed;
  background-color: #d9dab0;
  font-size: 24px;
  width: 100%;
  color: white;
  display: grid;
  min-height: 60px;
  grid-template-columns: 22% 78%;
}

/*========== mainbox layout ==========*/

.main {
  margin-bottom: 70px;
}

#left {
  height: 100%;
  max-width: 350px;
  display: none;
  background-color: #99a8b2;
  position: fixed;
  z-index: 2;
  animation: to-right-1 0.8s forwards;
}

@keyframes to-right-1 {
  from {
    left: -50%;
  }
  to {
    left: 0px;
  }
}

/*========== mainbox layout ends==========*/
/*========== left layout ==========*/
h3 {
  color: #14274e;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.9px;
  font-family: "Times New Roman";
  padding: 0;
  margin: 8px 0;
  margin-bottom: 20px;
}
#profileimg {
  min-height: 270px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 35px;
  /* background-image: url("../pics/profilee.jpeg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#detblk {
  padding: 5px;
  padding-left: 10px;
  background-color: #495464;
  border-radius: 10px;
  margin: 6px;
  margin-top: 30px;
  color: #99ffe9;
  word-break: break-all;
}
#details {
  font-size: 25px;
  letter-spacing: 0.9px;
  font-family: "Times New Roman";
}

a {
  text-decoration: none;
}

#note {
  text-align: center;
  letter-spacing: 0.6px;
  font-family: "Times New Roman";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(88, 68, 10);
  width: 130px;
  font-size: 30px;
  border-radius: 5px;
  color: rgb(215, 245, 250);
}

#note:hover {
  cursor: pointer;
  background-color: wheat;
  color: #ff0000;
}

/*========== left layout ends==========*/

/*========== footer layout ==========*/

footer {
  height: 70px;
  background-color: rgba(24, 41, 41, 0.8);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmzGxkHml3yi3tu0qpvKbV9BtYdkl9TYXF1Q&usqp=CAU");
  background-repeat: repeat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 0;
  right: 0;
  float: bottom;
  left: 0;
  z-index: 1;
}

#copyright {
  max-height: 70px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 200px;
  color: rgba(201, 201, 201);
}

#follow {
  max-height: 70px;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 0px;
  float: right;
  width: 400px;
  color: rgba(201, 201, 201);
  display: grid;
  grid-template-rows: 35% 65%;
  grid-row-gap: 2px;
}

#followus {
  font-size: 14px;
}

#followus,
#badges {
  border-radius: 2px;
}

#badges {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#symbol1,
#symbol2,
#symbol3,
#symbol4 {
  border-radius: 2px;
  height: 40px;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 4px;
}

.fa {
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 40px;
  width: 35px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #ce0f7e;
  color: white;
}

/*========== footer layout end ==========*/

/*=========== customizing start =============*/

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li {
  float: right;
  width: 150px;
  min-height: 58px;
  background-color: #d9dab0;
  line-height: 58px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.5px;
}

ul li a {
  text-decoration: none;
  color: black;
  display: block;
}

ul li a:hover {
  color: black;
  background-color: #99a8b2;
  border-radius: 3px;
}

ul li ul li {
  display: none;
  text-align: center;
}

ul li:hover ul li {
  display: block;
  background-color: rgb(0, 222, 255, 0.1);
}

#brdr {
  color: #14274e;
}
/*============= customizing ends ==============*/
